@font-face {
	font-family: 'Superspace Regular';
	src: url('../fonts/superspace_regular_ver_1.00-webfont.eot');
	src: url('../fonts/superspace_regular_ver_1.00-webfont.eot?#iefix') format('embedded-opentype'),
	url('../fonts/superspace_regular_ver_1.00-webfont.woff2') format('woff2'),
	url('../fonts/superspace_regular_ver_1.00-webfont.woff') format('woff'),
	url('../fonts/superspace_regular_ver_1.00-webfont.ttf') format('truetype'),
	url('../fonts/superspace_regular_ver_1.00-webfont.svg#Superspace Regular') format('svg');
}
@font-face {
	font-family: 'Ailerons';
	src: url('../fonts/Ailerons-Typeface.eot');
	src: url('../fonts/ailerons-typeface-webfont.eot?#iefix') format('embedded-opentype'),
	url('../fonts/ailerons-typeface-webfont.woff2') format('woff2'),
	url('../fonts/ailerons-typeface-webfont.woff') format('woff'),
	url('../fonts/ailerons-typeface-webfont.ttf') format('truetype'),
	url('../fonts/ailerons-typeface-webfont.svg#Ailerons') format('svg');
}

a:link {
	color: white;
	text-decoration:none;
	padding-top: 9px;
}

/* visited link */
a:visited {
	color: white;
	text-decoration:none;
}

/* mouse over link */
a:hover {
	color: #333;
	text-decoration:none;
}

/* selected link */
a:active {
	color: white;
	text-decoration:none;

}
