<!DOCTYPE html>
<html  ng-app ="dorm">
<head>
	<title>Dormster ตัวช่วยค้นหาหอพักใกล้สถานศึกษา</title>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" type="text/css" href="./css/bootstrap.css">
	<script type='text/javascript' src='./js/jquery.js'></script>
	<script type='text/javascript' src='./js/bootstrap.js'></script>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
	<script src="app.js"></script>
	<script src="https://cdn.socket.io/socket.io-1.2.0.js"></script>
    <script src="http://code.jquery.com/jquery-1.11.1.js"></script>
</head>
<body ng-controller = "DormController as dorm" >
	<nav id="ScrollingNav" class="navbar navbar-default navbar-fixed-top" role="navigation">
		<div class="container">
			<!-- Brand and toggle get grouped for better mobile display -->
			<div class="navbar-header">
				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapes">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="/">
					<div class="logo-xs visible-xs"></div>
					<div class="logo-lg hidden-xs"></div>
				</a>
			</div>
			<!-- Collect the nav links, forms, and other content for toggling -->
			<div class="collapse navbar-collapse navbar-ex1-collapes">
				<ul class="nav navbar-nav navbar-right">
					<li><a href="/">Home</a></li>
					<li><a href="./pricefan.html">Pricefan</a></li>
					<li><a href="./priceair.html">Priceair</a></li>
					<li><a href="./distan.html">Distance</a></li>
				</ul>
			</div><!-- /.navbar-collapse -->
		</div>	
	</nav>
	<!-- IMG background --> 
	<img class="img-responsive" src="./IMG/road.jpg">
	<!-- Button trigger modal -->


<div ng-repeat="del in  dorm.dataslide" >
	<div ng-repeat="(key, val) in del">
<button class="btn btn-default" data-toggle="modal" data-target=".bs-example-modal-lg">Large modal</button>

<div class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div id="carousel-example-generic" class="carousel slide" data-ride="carousel" >

  

  <!-- Wrapper for slides -->
  <div class="carousel-inner">
    <div class="item active">
     <img class="img-responsive" src="{{val}}" alt="...">
      <div class="carousel-caption">
        One Image
      </div>
    </div>

  </div>

  <!-- Controls -->
  <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left"></span>
  </a>
  <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right"></span>
  </a>
</div>
    </div>
  </div>
</div>
</div>
</div>

	
	<script type='text/javascript'>
		$(document).ready(function(){
			var stickNavTop = $('#ScrollingNav').offset().top
			var stickyNav = function () {
				var scrollTop = $(window).scrollTop()
				if(scrollTop > stickNavTop){
					$('#ScrollingNav').removeClass('navbar navbar-default navbar-fixed-top')
					$('#ScrollingNav').addClass('sticky')
					$('#ScrollingNav').addClass('navbar navbar-inverse navbar-fixed-top')
				}
				else{
					$('#ScrollingNav').removeClass('sticky')
					$('#ScrollingNav').removeClass('navbar navbar-inverse navbar-fixed-top')
					$('#ScrollingNav').addClass('navbar navbar-default navbar-fixed-top')
				}
			}
			stickyNav()
			$(window).scroll(function(){
				stickyNav()
			})
		})
	</script>
	<br>
	<div class="container">
		<table class="table">
			<tr>
				<td>
					<h1>{{detaildorm.namedormair}}</h1>
				</td>
				<td>
					<h1>ราคา</h1>
					<h3>ห้องแอร์ ฿ {{detaildorm.priceair}}</h3>
					<h3>ห้องพัดลม ฿ {{detaildorm.pricefan}}</h3>
				</td>
			</tr>
			<tr>
				<td>
					
					<h3>{{detaildorm.addressdormair}}</h3>
				</td>
				<td>
					<h1>ติดต่อ</h1>
					<h3>{{detaildorm.contract}} {{detaildorm.namecontact}}</h3>
				</td>
			</tr>
			<tr>
				<td>
				
					<iframe src="https://www.google.com/maps/d/embed?mid=zmVPU7_2Cd0c.k0uZFH_nQbts" width="640" height="480"></iframe>
				</td>
				<td>
					<h1>ระยะห่าง</h1>
					<h3>{{detaildorm.distance}} กม.</h3>
				</td>
			</tr>
			<tr>
				<td>
					<h1>สิ่งอำนวยความสะดวก</h1>
					<h3>{{detaildorm.etc}}</h3>
				</td>
				<td>
					<h1>ห้องว่าง</h1>
					<h3>ห้องแอร์ {{detaildorm.emproomair}} ห้อง</h3>
					<h3>ห้องพัดลม {{detaildorm.emproomfan}}  ห้อง</h3>
				</td>
			</tr>
		</table>
	</div>
	<br><br><br>
	<div id="foot">

	</div>
</body>
</html>